body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #333;
}



.form {
    display: inline-block;
    display: flex;
}


.container {
    text-align: center;
    margin-bottom: 10px;
    
}

div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
    text-align: left;  
}

input[type="text"],
input[type="number"] {
    width: 160px;
    padding: 5px;
}

label, input {
   float: left;
   
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}




table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

td:last-child {
    font-weight: bold;
}

td.aprovado {
    color: green;
}

td.reprovado {
 color: red;
}
